h1.section_header{
    margin-bottom: 15px;
}
 
 
 
 table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 15px;

}
table{
    width: 100%;
}
table th{
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    background: #f4f6f9;

}
table td{
    font-size: 13px;
    text-align: center;

}
p.userCount{
    text-align: right;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #f685a1;
}
